body {
    background-color: white;
}

#prompt-title {
    margin: 1rem;
}

#answer-cards {
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-gap: 0.5em;
    margin: 1rem;
}

.card{
	height: max-content;
}